<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Html5" value="E:\Nino\Code\c#\Seyyedi.RemoteMpc\html5"/>
		<add key="Url" value="http://localhost:8225"/>
		<add key="MpcUrl" value="http://localhost:13579"/>
		<add key="MediaLibrary" value="Z:\Media\MediaLibrary.json"/>
	</appSettings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
